
- meta title: "Lorenzo Sinisi - Ruby Developer", description: "Fullstack Ruby Developer", keywords: %w(ruby fullstack rails)
.container-home
 .header-full
  %h1 Lorenzo Sinisi - Ruby Developer
  %hr
  %p Fullstack Ruby Developer
  %p I've been working in Italy and Germany and I have experience as Fullstack Ruby Developer in Consultancy, IoT and SaaS companies. I have a business background that is why I make decisions based on both business and tech perspective; that's what often prefer when working with me.
  %p= link_to "Read more & links >> ", about_path